* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    color: white;
    background-image: url(backgroundimage/solstice-hannan--yhBOqHOr0c-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

}

h1 {
    margin-bottom: 20px;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.cell:hover {
    background: #444;
}

.win {
    background: #22c55e !important;
}

#status {
    margin-top: 20px;
    font-size: 20px;
}

#resetBtn {
    margin-top: 10px;
    padding: 8px 20px;
    background: #00eaff;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

#resetBtn:hover {
    background: #00b4cc;
}
